
# Ignore caches, python versions, and DS stores.
__pycache__/
.DS_Store
.python-version
ateams.egg-info/
.vscode/

# Ignore object files.
*.o
*.so
*.c
build/

# Ignore contents, but not directories.
output/figures/*
output/matrices/*
output/profiles/*
sync.sh

# Ignore *most* testing stuff.
test/*
