
# Ignore caches, python versions, and DS stores.
__pycache__/
.DS_Store
.python-version
ateams.egg-info/
.vscode/

# Ignore object files.
*.o
*.so
*.c
*.log
build/

# Ignore contents, but not directories.
output/figures/*
output/matrices/*
output/profiles/*
sync.sh

# Ignore *most* testing stuff.
test/sync.profiles.sh
# test/*.txt
test/*.prof
test/.hopper*
test/.pangolin*
# test/profiles/**/*
test/profiles/**/*.txt
test/profiles/**/*.err
test/profiles/**/*.out
!test/profiles/**/*.gitkeep

# Ignore annotated compilation summaries from Cython.
ateams/arithmetic/*.html
ateams/arithmetic/*.so
